.card{
	position:absolute;
	top:-50%;
	right : 1%;
    width: 20%;
    height: 20%;
    background :linear-gradient(20deg,yellow,violet);
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    transition: 0.6s;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index : 3;
}

.card:hover{
     height: 54%;    
}

.imageBox{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-40%);
    height: 80%;
    width: 50%;
    background: black;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    overflow: hidden;
}

.card:hover .imageBox {
    height: 32%;
    width: 56%;
}

.card .imageBox img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card .imageBox .round input[type=file]{
    position: absolute;
    left: -30px;
    cursor: pointer;
    transform: scale(1.3);
    opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}

.card .imageBox .round {
    position: absolute;
    bottom: 0;
    left: 0;
    color:white;
    overflow: hidden;
}

.card .imageBox .round .camera{
    position: relative;
    padding: 17px;
    color: white;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0,0.8);
    transform: translate(50%,0);
    border-radius: 50%;
}

.card .info{
    position: relative;
    width: 100%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

.card .info .userDetails{
    width: 100%;
    text-align: center;
    transition: 0.8s;
    transform: translateY(70%);
}

.card:hover .info .userDetails
{
    transform: translateY(0px);
}

.card .info .userDetails .data{
    margin: 10px 0 ;
    display : flex ;
    justify-content : center ;
}

.card .info .userDetails span{
    font-weight: 500;
    opacity: 0.5;
}

.card .info .userDetails .prf-button{
    padding: 10px 0;
}

.card .info .userDetails .prf-button button {
    padding: 8px 25px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    background: #ff5f95;
}

.card .info .userDetails .status{
    width: 100%;
}

.card .info .userDetails .status input{
    width: 100%;
    text-align:center;
    padding: 8px;
    border: none;
}