@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	border-right: 0;
	font-size: 15px;
}

#tab {
	width: 75%;
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loader {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}

#load-content {
	display: grid;
	position: absolute;
	top: 40%;
	left: 46%;
	z-index: 1;
}

html, body {
	width: 100%;
	height: 90%
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	width: 50%;
	border: 1px solid #000;
	border-radius: 20px;
	padding: 20px 0px;
	display: flex;
	justify-content: center;
	background: white;
	text-underline-offset: 20px;
}

#circular-progress {
	position: relative;
	height: 250px;
	width: 250px;
	background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#circular-progress::before {
	content: '';
	position: absolute;
	height: 219px;
	width: 219px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background: #fff;
}

#progress-value {
	position: relative;
}

#card {
	background-color: lightsteelblue;
	margin-right: 2cm;
	margin-top: 3cm;
	background-image:
		url(https://img.wallpapersafari.com/desktop/1680/1050/15/19/9bdWqY.jpg);
}

body {
	background-image: url(https://wallpapercave.com/wp/wp2610900.jpg),
		url(https://c4.wallpaperflare.com/wallpaper/800/831/598/digital-art-neon-mountains-lake-wallpaper-preview.jpg);
	background-blend-mode: multiply;
	/*     filter : brightness(100%);  */
	/*      filter : blur(30px);  */
	/*       filter : invert(70);  */
	/*        filter : saturate(30);  */
	/*         filter : contrast(50%);     */
	/*         filter : hue-rotate(240deg);     */
	/*         filter : contrast(50%);     */
}

#preloader {
	background: #000 url(./loader.gif) no-repeat center;
	background-size: 50%;
	height: 120vh;
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	display: flex;
	right: 20;
	align-items: center;
	justify-content: center;
}

thead>tr>th {
	position: sticky;
	top: 0px;
	background-color: blue;
}

.table-wrapper {
	overflow-y: scroll;
	max-height: 58vh;
}

button:hover, input.button:hover {
	box-shadow: 0 8px 16px 0 black;
}

tbody>tr:hover {
	background-color: green;
	cursor: auto;
}

h5 {
	color: red;
}

.home-button {
	text-align: center;
	padding: .8rem 3rem;
	display: inherit;
	color : #0000cc;
	border: none;
	cursor: pointer;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin-top: 2%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.home-button::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0%;
	height: 100%;
	background: green;
	transition: 1s ease;
	z-index: -1;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
}

.home-button:hover::before {
	width: 100%;
	color:yellow;
	left: 0;
}

.home-button:hover {
	color: white;
}

.insert {
	top: 20%;
	left: 50%;
	height: 50%;
	width: 80%;
}

.button-length {
	width: 100px;
	border-radius: 30px;
}

.size {
	width: 90vh;
	height: 70vh;
}

.loader {
	border: 12px solid #f3f3f3;
	border-radius: 50%;
	border-top: 12px solid #444444;
	width: 70px;
	height: 70px;
	animation: spin 1s linear infinite;
}

@
keyframes spin { 100% {
	transform: rotate(360deg);
}

}
#center {
	display: flex;
	justify-content: center;
}

#content {
	background: white;
	display: flex;
	width: 420px;
	padding: 50px 0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
	position: absolute;
}

.loader-alt
{
	display :inline-block;
	width : 58px ;
	height : 58px;
	position : relative ;
	border : 4px solid #9B87FE;
	animation : loader 1.5s infinite ease;
}
.load 
{
	vertical-align:top ;
	display : inline-block ;
	width : 100%;
	background-color : #FFB870;
	animation : load 1.5s infinite ease-in;
}
.btn-link
{
	cursor:pointer;
	color : yellow;
}
.btn-link:hover
{
	cursor:pointer;
	font-size : 3.7rem;
	color : #ff0080;
	text-decoration : none ;
}


@keyframes loader 
{
	0% 
	{
		transform : rotate(0deg);
	}
	25% 
	{
		transform : rotate(100deg);
	}
	50% 
	{
		transform : rotate(180deg);
	}
	75% 
	{
		transform : rotate(360deg);
	}
	100% 
	{
		transform : rotate(360deg);
	}
}

@keyframes load 
{
	0% 
	{
		height : 0%;
	}
	25% 
	{
		height : 0%;
	}
	50% 
	{
		height : 100%;
	}
	75% 
	{
		height : 100%;
	}
	100% 
	{
		height : 0%;
	}
}

@media screen and (max-width: 600px) {
	html {
		font-size: 4px;
	}
}

.fsr
{
	font-size : 20px;
	margin-right: .3rem ; 
}
.fsl
{
	font-size : 20px;
	margin-left: .3rem ; 
}


.info{
		position : relative ;
	}
	.info-content{
		width:40%;
		position:absolute;
		top:10%;
		left:57%;
		
	}     
	.icon{
	 position: fixed;
    top: 31vh;
    right: 2vw;
    color: black;
    font-size: 21px;
	}
	@media screen and (max-width :992px){
	.info-content{
		height:82%;
		width:40%;
		position:absolute;
		top:19%;
		left:58%;
		overflow-x:hidden ;
		overflow-y :scroll;
	}
	}
