#load-content {
	display: grid;
	position: absolute;
	top: 40%;
	left: 46%;
	z-index: 1;
}
.loader-alt
{
	display :inline-block;
	width : 58px ;
	height : 58px;
	position : relative ;
	border : 4px solid #9B87FE;
	animation : loader 1.1s infinite ease;
}
.load 
{
	vertical-align:top ;
	display : inline-block ;
	width : 100%;
	background-color : #FFB870;
	animation : load .8s infinite ease-in;
}
@keyframes loader 
{
	0% 
	{
		transform : rotate(0deg);
	}
	25% 
	{
		transform : rotate(90deg);
	}
	50% 
	{
		transform : rotate(180deg);
	}
	75% 
	{
		transform : rotate(240deg);
	}
	100% 
	{
		transform : rotate(360deg);
	}
}

@keyframes load 
{
	0% 
	{
		height : 0%;
	}
	25% 
	{
		height : 0%;
	}
	50% 
	{
		height : 100%;
	}
	75% 
	{
		height : 100%;
	}
	100% 
	{
		height : 0%;
	}
}