*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(to bottom,#491de8,#cb8631);
}
.profile__cards{
	min-height: 80vh;
	width     : 95vw;
	display   :flex;
	margin 	  : auto;
	overflow   : auto ;
}
.profile__card{
    width: 380px;
    height: 380px;
    perspective: 900px;
    margin : 30px;
}

.profile__card__inner{
    width: 100%;
    height: 100%;
    transition: transform .5s;
    transform-style: preserve-3d;
}

.profile__card:hover .profile__card__inner{
    transform: rotateY(180deg);
}

.profile__card__front,.profile__card__back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.profile__card__front{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    cursor: pointer;
}
.profile__card__front .title{
    position: absolute;
    bottom:0 ;
    right: 0;
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin: 30px;
}
.profile__card__back{
    background: #ffff;
    color: #000;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.profile__card__back img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}

.profile__card__back span{
    margin: 5px;
    font-size: 18px;
}

.profile__card__back div.profile__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}