@charset "ISO-8859-1";

*{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	font-family :'Poppins' , sans-serif ;
	border-right: 0;
	font-size :15px;
}

#loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

#content {
    background: white;
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    position:absolute;
}

#circular-progress {
    position: relative;
    height: 250px;
    width: 250px;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circular-progress::before {
    content: '';
    position: absolute;
    height: 219px;
    width: 219px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #fff;
}

#progress-value {
    position: relative;
}

#card{
    background-color:lightsteelblue;
    margin-right: 2cm;
    margin-top: 3cm;
    background-image: url(https://img.wallpapersafari.com/desktop/1680/1050/15/19/9bdWqY.jpg);
	
}
#body{
	margin :auto;
}

body{
    background-image: url(https://wallpapercave.com/wp/wp2610900.jpg),url(https://c4.wallpaperflare.com/wallpaper/800/831/598/digital-art-neon-mountains-lake-wallpaper-preview.jpg);
	background-blend-mode: multiply; 
				/*     filter : brightness(100%);  */
				/*      filter : blur(30px);  */
				/*       filter : invert(70);  */
				/*        filter : saturate(30);  */
				/*         filter : contrast(50%);     */
				/*         filter : hue-rotate(240deg);     */
				/*         filter : contrast(50%);     */
	
	
}



#preloader{
    background: #000 url(./loader.gif) no-repeat center;
    background-size: 50%;
    height: 120vh;
    width: 100%;
    overflow :hidden ;
    position :absolute ;
    z-index: 100;
    display :flex;
    right :20;
    align-items :center ;
    justify-content :center;
}

thead>tr>th {
	position: sticky ;
	top: 0px;
	background-color : blue;
}
.table-wrapper {
	overflow-y: scroll;
	max-height:60vh;
}

button:hover , input.btn:hover {
	box-shadow : 0 8px 16px 0 black; 
}

tbody>tr:hover {
	background-color : green ;
	cursor : auto ;
}

h5{
	color : red;
}
/* td { */
/* /* 	text-transform : uppercase; uppercase,lowercase,capitalize,none*/ */
/* } */

/* div.animate { */
/* 	top : 100px; */
/* 	width: 90px;   */
/*     height: 25px;   */
/*     background: red;   */
/*     position: relative;     */
/*     animation: myfirst 5s;  */
/* } */

/* @keyframes myfirst {   */
/*     0%   {background:red; left:8px; top:0px;}   */
/*     25%  {background:yellow; left:160px; top:0px;}   */
/*     50%  {background:blue; left:160px; top:100px;}   */
/*     75%  {background:green; left:8px; top:100px;}   */
/*     100% {background:red; left:8px; top:0px;}   */
/* }   */


.insert{
	top :20%;
	left : 50%;
	height :50%;
	width :80%;
}

.button-length {
	width : 100px;
	border-radius :30px;
}

.content{
	width: 100vh;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.size{
	width : 90vh;
	height :70vh;
	
}

 .loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }
          
@keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
          
.center {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
/* #loader { */
/*   border: 12px solid #f3f3f3; */
/*   border-radius: 50%; */
/*   border-top: 12px solid blue; */
/*   border-bottom: 12px solid blue; */
/*   width: 100px; */
/*   height: 100px; */
/*   -webkit-animation: spin 2s linear infinite; */
/*   animation: spin 2s linear infinite; */
/* } */

/* @-webkit-keyframes spin { */
/*   0% { -webkit-transform: rotate(0deg); } */
/*   100% { -webkit-transform: rotate(360deg); } */
/* } */

/* @keyframes spin { */
/*   0% { transform: rotate(0deg); } */
/*   100% { transform: rotate(360deg); } */
/* } */


